<%= form_with scope: :session, url: sessions_path, local: true do |f| %>
  <div class="form-group">
    <%= f.label :アドレス %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :パスワード %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <%= f.submit 'ログイン', class: "btn btn-primary mb-2" %>
<% end %>