<%= form_with model: @user, local: true, url: user_path do |f| %>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control-file" %>
  </div>
  <div class="form-group">
    <%= f.label :profile %>
    <%= f.text_field :profile, class: "form-control" %>
  </div>
  <%= f.hidden_field :password, class: "form-control" %>
  <div class="form-group">
    <%= f.label :password, '本人確認用パスワード' %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <%= f.submit '編集', class: "btn btn-primary mb-2" %>
<% end %>