<%= form_with model: @post, local: true, url: posts_path do |f| %>
  <div class="card" style="width: 18rem;">
    <%= image_tag @post.image.thumb.url, class: "card-img-top" if @post.image.thumb.url %>
    <%= f.hidden_field :image_cache %>
    <%= f.hidden_field :content %>
    <div class="card-body">
      <h5 class="card-title">コメント</h5>
      <p class="card-text">
        <%= @post.content %>
      </p>
      <%= f.submit '投稿', class: "btn btn-primary mb-2" %>
    </div>
  </div>
<% end %>

<!--newへ戻るボタン用データ送信フォーム-->
<%= form_with model: @post, url: new_post_path, local: true, method: 'get' do |f| %>
  <%= f.hidden_field :image_cache %>
  <%= f.hidden_field :content %>
  <%= f.submit '戻る', name: 'back', class: "btn btn-primary mb-2" %>
<% end %>