<h2>一覧ページ</h2>
<% @posts.each do |post| %>
  <div class="post_wrapper">
    <div>
      <%= link_to post_path(post.id) do %>
        <%= image_tag post.image.thumb.url %>
      <% end %>
    </div>
    <div>投稿者: <%= post.user.name %></div>
    <div>
      <%= post.content %>
    </div>
    <div>
    <% if current_user.id == post.user_id %>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Delete', post_path(post), method: :delete,
                                            data: { confirm: '投稿を削除しますか?' } %>
    <% else %>
    
    <% end %>
    </div>
  </div>
<% end %>